.light-card-container
  %table
    %tbody
      %tr
        %td
          %table
            %tbody
              %tr
                %td= image_tag 'black_takko.png'
              %tr
                %td
                  %p
                    6-20 characters from at least 2 categories:
                    letters, numbers, special characters

              = form_with model: @user, url: update_password_user_url(@user), method: 'patch' do |f|
                = f.hidden_field :verification_token, value: @token || params[:token]

                %tr
                  %td.padding-top
                    = f.password_field :new_password, autofocus: true,
                                       required: true, minlength: 6, maxlength: 20,
                                       placeholder: 'New Password'
                %tr
                  %td
                    = f.password_field :new_password_confirm,
                                       required: true, minlength: 6, maxlength: 20,
                                       placeholder: 'Confirm Password'

                - if @user.errors[:base].any?
                  %tr.error
                    %td= @user.errors[:base].join('')
                %tr
                  %td.padding-top= f.submit 'Save'

            %tfoot
              %tr
                %td
                  If you did not submit this request, please contact us at
                  = mail_to 'support@takoapp.com'
                  \. Follow us on
                  %a{ href: 'https://www.facebook.com/takkoapp' } facebook
                  and
                  %a{ href: 'https://www.instagram.com/takkoapp' } instagram
                  \.
                  %p.copyright Copyright © #{Time.zone.now.year} Takko, Inc.
