<div class="takko-pages policy">
  <div class="fluid-header-cover">
    <div class="container h-100">
      <div class="row justify-content-md-center align-items-center align-self-center h-100">
        <div class="col-md-8">
          <h1>
            Privacy Policy
          </h1>
        </div>
        <!-- col -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- fluid-header-cover -->
  <div class="container main-wrap">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="main-content">
          <div class="last-updated">Last updated: January 14, 2022</div>
          <p>
            Content Creators, Inc. (“Content Creators,” “we,” “our,” or “us”) is committed to protecting your privacy.  This Privacy Policy (this “Privacy Policy”) applies to our websites, mobile applications, and online experiences that link to this Privacy Policy (collectively, our “Service”), and it describes how we collect, use and disclose your personal information when you visit our Service or otherwise engage with us.  By accessing or using our Service, you signify that you have read, understood, and agree to our collection, storage, use, and disclosure of your personal information as described in this Privacy Policy and our <b>Cookie Notice</b> <a href="<%= root_url+"cookies" %>" target="_blank"><%= root_url+"cookies" %></a> and <b>Terms of Service</b> <a href="<%= root_url+"terms" %>" target="_blank"><%= root_url+"terms" %></a>.
          </p>
        </div>
        <!-- main-content -->
      </div>
      <!-- col -->
    </div>
    <!-- row -->
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="main-content">
          <h2 class="section-header">
            1. OUR COLLECTION OF PERSONAL INFORMATION
          </h2>
          <p>
            We collect personal information you provide to us in a variety of ways.  For example, you may provide us your personal information when you place an order, register for an account, make an online purchase, post a review, send us messages, subscribe to our mailing lists, newsletters or other forms of marketing communications, participate in a survey, contest or sweepstakes, redeem a promotion, or use some other feature of our Service.  Sometimes we collect personal information automatically when you interact with our services and sometimes we collect the personal information directly from you.  At times, we may collect personal information about you from other sources and third parties, even before our first direct interaction.
          </p>
          <div class="nested-bullet-list">
            <p>
              <b><i>Information You Provide</i></b>
            </p>
            <p>
              We collect the following information you provide in connection with our Service:
            </p>
            <ul class="list-wrap">
              <li>
                <b>Account and Profile Information.</b> We collect personal information, such as your name, email address, phone number, username, display name, password, date of birth, profile photo, and any information you provide in your bio when you register for our Services; sign up for our mailing list; complete your user profile; or otherwise communicate or interact with us. We use this information to create, verify, and personalize your account, to fulfill your request or transaction, to communicate with you directly, and to send you marketing communications in accordance with your preferences.
              </li>
              <!-- bullet-item -->
              <li>
                <b>Comments, Chat and Opinions.</b> We collect personal information, such as your name, email address, phone number, username, display name, password, date of birth, profile photo, and any information you provide in your bio when you register for our Services; sign up for our mailing list; complete your user profile; or otherwise communicate or interact with us. We use this information to create, verify, and personalize your account, to fulfill your request or transaction, to communicate with you directly, and to send you marketing communications in accordance with your preferences.
              </li>
              <!-- bullet-item -->
            </ul>
            <!-- list-wrap -->
          </div>
          <!-- nested-bullet-list -->
          <p>
            We use this information to operate, maintain, and provide to you the features and functionality of the services, as well as to communicate directly with you, such as to send you email messages. We may also send you service-related emails or messages (e.g., user account verification, change or updates to features of the services, technical and security notices) and communications from or about Content Creators.
          </p>
          <div class="nested-bullet-list">
            <p>
              <b><i>Information Automatically Collected When You Use Our Service</i></b>
            </p>
            <p>
              Like most digital platforms, we collect certain personal information automatically when you visit and use our Service, including:
            </p>
            <ul class="list-wrap">
              <li>
                <b>Information You May Post or Submit on the Service.</b> We collect information about how you use the Service, your actions on the Service, and content you post to the Service, including the groups you belong to, your actions (e.g., votes) and interactions with others on the Service, and photos and videos you post to the Service or send through in-app messages or other functionalities (“User Content”). To share photos and video, we will access your device camera roll and camera with your permission. If you need to update your permissions, you can do so in the “Settings” app of your device. Please remember that we may, but have no obligation to, monitor, record, and store User Content in order to protect your safety or the safety of other users, to assist with regulatory or law enforcement efforts, or to protect and defend our rights and property. You consent to the recording, storage and disclosure of such communications you send or receive for these purposes.
              </li>
              <!-- bullet-item -->
              <li>
                <b>Information Collected Through Cookies and Tracking Technologies.</b> To provide a personalized and high-quality experience for our users, we, and our third-party partners, may use various technologies that automatically record certain technical information from your browser or device when you visit our website, read our e-mails, use our Service, or otherwise engage with us. For information about our and our third-party partners’ use of cookies and related technologies to collect information automatically, and any choices you may have in relation to its collection, please visit our Cookie Notice <a href="<%= root_url+"cookies" %>" target="_blank"><%= root_url+"cookies" %></a>.
              </li>
              <!-- bullet-item -->
              <li>
                <b>Information We Receive from Third-Party Sites You Connect to Our Service.</b> We may receive personal information about you from third parties and combine that with information we collect through our Service. For example, we may obtain information when you log in through a third-party social network or authentication service, such as Twitter or Google.  These services will authenticate your identity and provide you the option to share certain personal information with us, which could include your name, email address, address book and contacts, or other information. The data we receive from these third-party sites is dependent upon that third party’s policies and your privacy settings on that third-party site. You should always review and, if necessary, adjust your privacy settings on third-party websites and services before linking or connecting them to our website or Service.
              </li>
              <!-- bullet-item -->
              <li>
                <b>Contacts List Information.</b> With your permission, Content Creators may access your contacts list available on your mobile device, so that you can locate your contacts on the Service and invite your contacts to join the Service through the native messaging app on your mobile device. We will store the information from your contacts list for purposes of alerting you when your contacts join Content Creators at a later time so that you may connect with them on the Service, and to suggest friends and connections to other members of Content Creators. Content Creators may also use the information collected from your contact list and your friends' contact lists to suggest new friends you may want to connect with on the Service. We make these recommendations based on your contacts list information as well as your friends' contacts list information and try to find common friendships or connections to introduce you to.
              </li>
              <!-- bullet-item -->
            </ul>
            <!-- list-wrap -->
          </div>
          <!-- nested-bullet-list -->
          <div class="nested-bullet-list">
            <p>
              <b><i>Information from Other Sources and Third Parties</i></b>
            </p>
            <p>
              We also obtain personal information from other sources, which we often combine with personal information we collect either automatically or directly from you. We receive the same categories of personal information as described above from the following sources and third parties:
            </p>
            <ul class="list-wrap">
              <li>
                <b>Social Networks Through Your Interactions.</b> When you interact with our services through various social media networks, such as when you “Like” us on Facebook or when you follow us or share our content on Facebook, Twitter, Snapchat, LinkedIn, Instagram or other social networks, we may receive some information about you that you permit the social network to share with third parties.  The data we receive is dependent upon your privacy settings with the social network.  You should always review and, if necessary, adjust your privacy settings on third-party websites and social media networks.
              </li>
              <!-- bullet-item -->
              <li>
                <b>Information Provided by Others.</b> From time to time, we may receive information about you from third parties and other users. For example, we may obtain information from our marketing partners or from third parties to enhance or supplement our existing user information.  We may also collect information about you that is publicly available.  We may combine this information with the information we collect from you directly.
              </li>
              <!-- bullet-item -->
            </ul>
            <!-- list-wrap -->
          </div>
          <!-- nested-bullet-list -->
        </div>
        <!-- main-content -->
      </div>
      <!-- col -->
    </div>
    <!-- row -->
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="main-content">
          <h2 class="section-header">
            2. OUR USE OF PERSONAL INFORMATION
          </h2>
          <div class="nested-bullet-list">
            <p>
              We use your information for purposes described in this Privacy Policy or as otherwise disclosed to you on our Service or in connection with our Service.  For example, we use your information to:
            </p>
            <ul class="list-wrap">
              <li>
                <b>To fulfill your requests and provide the Service to you.</b> For example, we may use your information to complete online request, transactions, or respond to your customer service requests or feedback.  We may also use your information to personalize your experience with us.
              </li>
              <!-- bullet-item -->
              <li>
                <b>For marketing purposes.</b> We may send you communications about new features, updates, products and special offers.  We may also use your information to serve you ads about products and special offers about our products or other products or services we think you might find interesting. We may also use individual and aggregate information about you to inform our marketing and advertising campaigns. For more information on your choices about marketing communications, see “Your Choices and Control Over Your Information” below and our Cookie Notice <a href="<%= root_url+"cookies" %>" target="_blank"><%= root_url+"cookies" %></a>.
              </li>
              <!-- bullet-item -->
              <li>
                <b>To communicate with you.</b> For example, we may communicate with you about your account activities, such as by providing you transaction confirmations and alerts.  If you register with us, we may enroll you in our email newsletter or other periodic electronic communications and also send you promotional communications.  We may communicate with you by email, postal mail, telephone, text message, or other means.  For more information on how to adjust your communications preferences, see “Your Choices and Control Over Your Information” below.
              </li>
              <!-- bullet-item -->
              <li>
                <b>To monitor, improve and develop our products and services.</b> We may use your information to understand our visitors and users and tailor our product offerings accordingly. From time to time, we analyze statistics and trends to make our Service better and to develop new services or features.
              </li>
              <!-- bullet-item -->
              <li>
                <b>To protect the security and integrity of our business, comply with legal requirements and obligations, or as otherwise permitted by law.</b> We may use information to protect our company, our affiliates, our customers, our users and our websites. We may also use information in order to comply with laws, regulations, court orders, or other legal obligations or to assist in an investigation to protect and defend our rights and property, or the rights or safety of third parties, to enforce our Terms of Service [link], this Privacy Policy, or agreements with third parties, to detect and prevent fraud or for crime-prevention purposes, or for any other reason permitted by law.
              </li>
              <!-- bullet-item -->
            </ul>
            <!-- list-wrap -->
          </div>
          <!-- nested-bullet-list -->
          <p>
            For information about our and our third-party partners’ use of cookies and related technologies to collect information automatically, and any choices you may have in relation to its collection, please visit our Cookie Notice <a href="<%= root_url+"cookies" %>" target="_blank"><%= root_url+"cookies" %></a>.
          </p>
        </div>
        <!-- main-content -->
      </div>
      <!-- col -->
    </div>
    <!-- row -->
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="main-content">
          <h2 class="section-header">
            3. OUR DISCLOSURE OF INFORMATION
          </h2>
          <div class="nested-bullet-list">
            <p>
              We may share your personal information in the instances described below.
            </p>
            <p>
              Remember, our Service allows you to connect and interact with others. <b>Your profile information, including your name, photo, bio, User Content, and other personal information, will be visible to other members of the Service by default when you create a public profile, interact with others on the Service in public groups, and post information or User Content to public spaces.</b>
            </p>
            <ul class="list-wrap">
              <li>
                <b>The Public and Other Content Creators Users.</b> Your profile information and User Content you post to public areas of the Service, including public groups, will be visible by other users on the Service and the public. Please do not provide personal information you would not want to be public. You may be able to control the visibility of some of your information and actions in your Settings (see “Control Over Your Information” below) or in your post permissions before posting.
              </li>
              <!-- bullet-item -->
              <li>
                <b>Content Creators Users with Whom You Communicate on the Service.</b> We share your information and User Content with third parties with whom you communicate on the Service, for example through comments, direct messages and chats.  You control who you want to communicate with and what information you share. Sharing information with others on the Service is done at your own risk.
              </li>
              <!-- bullet-item -->
              <li>
                <b>Promotional Partners.</b> We may share limited information with third parties with whom we partner to provide contests and sweepstakes, or other joint promotional activities.  These partners will usually be clearly identified in the contest rules or promotional materials.
              </li>
              <!-- bullet-item -->
              <li>
                <b>Within Content Creators, Inc.</b> We may disclose personal information between and among our parent company, Content Creators, Inc. and its current and future affiliates, subsidiaries, and other companies under common control or ownership. These Content Creators, Inc. entities disclose personal information to other Content Creators, Inc. entities for purposes and uses that are consistent with this Privacy Notice.
              </li>
              <!-- bullet-item -->
              <li>
                <b>Online Advertising Partners.</b> We also share personal information with advertising networks or permit these partners to collect information from you directly on our websites to facilitate online advertising, such as search engines and social network advertising providers to serve targeted ads to you or to groups of other users who share similar traits, such as likely commercial interests and demographics, on third-party platforms. To learn more, please visit our Cookie Notice <a href="<%= root_url+"cookies" %>" target="_blank"><%= root_url+"cookies" %></a>.
              </li>
              <!-- bullet-item -->
              <li>
                <b>The Public When You Provide Feedback.</b> When you provide feedback or post user content on our services (e.g., if you post a product review on our website or comment on our social media sites), your information (e.g., your first name and comments) may be displayed on our websites or on our social media pages.  When you engage with us on social media, we may tag and/or mention your social media account or the social media account of others (e.g., to give photo/video credit to another user).
              </li>
              <!-- bullet-item -->
              <li>
                <b>Third Parties at Your Request.</b> For example, you may have the option to share your activities on the Service with your friends through email, text, or on various social media sites.
              </li>
              <!-- bullet-item -->
              <li>
                <b>Service Providers.</b> We share personal information with third-party vendors, consultants and other service providers who perform functions or services on our behalf and under our instructions to make our services available to you.  For example, this may include vendors and providers who engage in marketing or advertising activities or provide mailing or email services, tax and accounting services, auditing and compliance, fraud prevention, infrastructure provisioning, analytics services, IT services, product fulfillment, and web hosting.
              </li>
              <!-- bullet-item -->
              <li>
                <b>Business Transaction or Reorganization.</b> We may take part in or be involved with a corporate business transaction, such as a merger, acquisition, joint venture, or financing or sale of company assets.  We may disclose personal information to a third-party during negotiation of, in connection with or as an asset in such a corporate business transaction.  Personal information may also be disclosed in the event of insolvency, bankruptcy, or receivership.
              </li>
              <!-- bullet-item -->
              <li>
                <b>Legal Obligations and Rights.</b> We may disclose personal information to third parties, such as legal advisors and law enforcement:
                <ul>
                  <li>
                    in connection with the establishment, exercise, or defense of legal claims;
                  </li>
                  <li>
                    to comply with laws or to respond to lawful requests and legal process;
                  </li>
                  <li>
                    to protect the rights and property of Content Creators, our agents, customers, and others, including to enforce our agreements, policies, and Terms of Service <a href="<%= root_url+"terms" %>" target="_blank"><%= root_url+"terms" %></a>;
                  </li>
                  <li>
                    to detect, suppress, or prevent fraud;
                  </li>
                  <li>
                    to reduce credit risk and collect debts owed to us;
                  </li>
                  <li>
                    to protect the health and safety of us, our customers, or any person; or
                  </li>
                  <li>
                    as otherwise required by applicable law.
                  </li>
                </ul>
              </li>
              <!-- bullet-item -->
              <li>
                <b>With Your Consent or At Your Direction.</b> In addition to the sharing described in this Privacy Policy, we may share information about you with third parties whenever you consent to or direct such sharing.
              </li>
              <!-- bullet-item -->
            </ul>
            <!-- list-wrap -->
          </div>
          <!-- nested-bullet-list -->
          <p>
            We may also share information with others in an aggregated or otherwise anonymized form that does not reasonably identify you directly as an individual.
          </p>
        </div>
        <!-- main-content -->
      </div>
      <!-- col -->
    </div>
    <!-- row -->
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="main-content">
          <h2 class="section-header">
            4. YOUR CHOICES AND CONTROL OVER YOUR INFORMATION
          </h2>
          <p>
            <b>Profile and data sharing settings.</b> You may update your account information, such as your user name, profile photo, profile banner, and may change some of your data sharing preferences on your Settings page.
          </p>
          <p>
            <b>Access to your Device Information.</b> You may control the app’s access to your device information through your “Settings” app on your device. For instance, you can withdraw permission for the app to access your camera roll, microphone and camera.
          </p>
          <p>
            <b>How to control your communications preferences.</b> You can stop receiving promotional email communications from us by clicking on the “unsubscribe link” provided in such communications.  We make every effort to promptly process all unsubscribe requests. You may not opt out of service-related communications (e.g., account verification, transactional communications, changes/updates to features of the Service, technical and security notices).
          </p>
          <p>
            <b>Modifying or deleting your information.</b> If you have any questions about modifying your information, or if you want to remove your name or comments from our Service or publicly displayed content, you can visit your Settings page or contact us directly at <a href="mailto: support@appforteachers.com">support@appforteachers.com</a>. We may not be able to modify your information in all circumstances.
          </p>
          <p>
            <b>Online advertising and tracking technologies.</b> Please see the Cookie Notice <a href="<%= root_url+"cookies" %>" target="_blank"><%= root_url+"cookies" %></a> to learn more about how we work with third-party partners to collect data through tracking technologies for various purposes, including analytics and advertising, and to understand your choices.
          </p>
        </div>
        <!-- main-content -->
      </div>
      <!-- col -->
    </div>
    <!-- row -->
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="main-content">
          <h2 class="section-header">
            5. CHILDREN’S PRIVACY
          </h2>
          <p>
            Our websites and online services are not directed to, and we do not intend to, or knowingly, collect or solicit personal information from children under the age of 13. If you are under the age of 13, please do not use our websites or online services or otherwise provide us with any personal information either directly or by other means. If a child under the age of 13 has provided personal information to us, we encourage the child’s parent or guardian to contact us at <a href="mailto: support@appforteachers.com">support@appforteachers.com</a> to request that we remove the personal information from our systems. If we learn that any personal information we collect has been provided by a child under the age of 13, we will promptly delete that personal information.
          </p>
        </div>
        <!-- main-content -->
      </div>
      <!-- col -->
    </div>
    <!-- row -->
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="main-content">
          <h2 class="section-header">
            6. THIRD-PARTY WEBSITES
          </h2>
          <p>
            Our websites and online services may include links to third-party websites, plug-ins and applications. Except where we post, link to or expressly adopt or refer to this Privacy Policy, this Privacy Policy does not apply to, and we are not responsible for, any personal information practices of third-party websites and online services or the practices of other third parties. To learn about the personal information practices of third parties, please visit their respective privacy notices.
          </p>
        </div>
        <!-- main-content -->
      </div>
      <!-- col -->
    </div>
    <!-- row -->
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="main-content">
          <h2 class="section-header">
            7. HOW TO CONTACT US
          </h2>
          <p>
            If you have any questions or requests in connection with this Privacy Policy or other privacy-related matters, please send an email to <a href="mailto: support@appforteachers.com">support@appforteachers.com</a>.
          </p>
          <p>
            Alternatively, inquiries may be addressed to:
          </p>
          <div class="row w-100">
            <div class="col-md-2 nested-left-column">
              Address:
            </div>
            <!-- col -->
            <div class="col-md-10">
              <p>
                1321 Upland Dr. Suite 17106 <br />
                Houston, TX 77043
              </p>
            </div>
            <!-- col -->
          </div>
          <!-- row -->
        </div>
        <!-- main-content -->
      </div>
      <!-- col -->
    </div>
    <!-- row -->
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="main-content">
          <h2 class="section-header">
            8. UPDATES TO THIS PRIVACY POLICY
          </h2>
          <p>
            We will update this Privacy Policy from time to time.  When we make changes to this Privacy Policy, we will change the “Last Updated” date at the beginning of this Privacy Policy.  If we make material changes to this Privacy Policy, we will notify you by email to your registered email address, by prominent posting on this website or our online services, or through other appropriate communication channels.  All changes shall be effective from the date of publication unless otherwise provided.
          </p>
        </div>
        <!-- main-content -->
      </div>
      <!-- col -->
    </div>
    <!-- row -->
    <div class="footer"></div>
  </div>
  <!-- container -->