
<div class="takko-pages policy">

	<div class="fluid-header-cover">
		<div class="container h-100">
			<div class="row justify-content-md-center align-items-center align-self-center h-100">
				<div class="col-md-8">

					<h1>
						<%= image_tag "takko-emblem-white-sm.png", class: 'takko-emblem', loading: "lazy", alt: "🌮" %>
 Terms of Service
					</h1>

				</div> <!-- col -->
			</div> <!-- row -->
		</div> <!-- container -->
	</div> <!-- fluid-header-cover -->

	<div class="container main-wrap">

		<div class="row justify-content-md-center">
			<div class="col-md-8">

				<div class="main-content">

					<div class="last-updated">Last updated: May 18, 2021</div>

					<h2 class="section-header">
						Welcome to takko
					</h2>

					<p>
						Welcome to takko.app, the website and online and/or mobile service of Content Creators, Inc. d/b/a Takko, Inc. (“<b>Takko</b>,” “<b>we</b>,” or “<b>us</b>”). This page explains the terms by which you may use our online and/or mobile services, website, and software provided on or in connection with the service (collectively, the “<b>Service</b>”). By accessing or using the Service, or by clicking a button or checking a box marked “Sign Up”, “I Agree” (or something similar), you signify that you have read, understood, and agree to be bound by these Terms of Service (this “<b>Agreement</b>”) and to the collection and use of your information as set forth in our Privacy Policy <a href="<%= root_url+"privacy" %>" target="_blank"><%= root_url+"privacy" %></a>, whether or not you are a registered user of our Service. Takko reserves the right to modify these terms and will provide notice of these changes as described below. This Agreement applies to all visitors, users, and others who access the Service (“<b>Users</b>”).
					</p>

					<p class="legal-text">
						Please read this Agreement carefully to ensure that you understand each provision. This agreement contains a mandatory individual arbitration and class action/jury trial waiver provision that requires the use of arbitration on an individual basis to resolve disputes, rather than jury trials or class actions.
					</p>

				</div> <!-- main-content -->

			</div> <!-- col -->
		</div> <!-- row -->

		<div class="row justify-content-md-center">
			<div class="col-md-8">

				<div class="main-content">

					<h2 class="section-header">
						1. Our service
					</h2>

					<div class="nested">
						<h3 class="section-header">
							1.1 Eligibility
						</h3>

						<p>
							This is a contract between you and Takko. You must read and agree to these terms before using the Takko Service. If you do not agree, you may not use the Service. You may use the Service only if you can form a binding contract with Takko, and only in compliance with this Agreement and all applicable local, state, national, and international laws, rules and regulations. Any use or access to the Service by anyone under 13 is strictly prohibited and in violation of this Agreement. The Service is not available to any Users previously removed from the Service by Takko.
						</p>
					</div> <!-- nested -->

					<div class="nested">
						<h3 class="section-header">
							1.2 Limited License
						</h3>

						<p>
							Subject to the terms and conditions of this Agreement, you are hereby granted a non-exclusive, limited, non-transferable, freely revocable license to use the Service as permitted by the features of the Service. Takko reserves all rights not expressly granted herein in the Service and the Takko Content (as defined below). Takko may limit, suspend or terminate this license at any time for any reason or no reason.
						</p>
					</div> <!-- nested -->

					<div class="nested">
						<h3 class="section-header">
							1.3 User Accounts
						</h3>

						<p>
							Your account on the Service (your “<b>User Account</b>”) gives you access to the services and functionality that we may establish and maintain from time to time and in our sole discretion. We may maintain different types of User Accounts for different types of Users. If you open a User Account on behalf of a company, organization, or other entity, then (i) “you” includes you and that entity, and (ii) you represent and warrant that you are an authorized representative of the entity with the authority to bind the entity to this Agreement, and that you agree to this Agreement on the entity’s behalf. By connecting to Takko with a third-party service, you give us permission to access and use your information from that service as permitted by that service.
						</p>

						<p>
							You may never use another User’s User Account without permission. When creating your User Account, you must provide accurate and complete information, and you must keep this information up to date. You are solely responsible for the activity that occurs on your User Account, and you must keep your User Account password secure. We encourage you to use “strong” passwords (passwords that use a combination of upper and lower case letters, numbers and symbols) with your User Account. You must notify Takko immediately of any breach of security or unauthorized use of your User Account. Takko will not be liable for any losses caused by any unauthorized use of your User Account.
						</p>

						<p>
							You may control your User profile and how you interact with the Service by changing the settings in your settings page. By providing Takko your email address you consent to our using the email address to send you Service-related notices, including any notices required by law, in lieu of communication by postal mail. We may also use your email address to send you other messages, such as changes to features of the Service and special offers. If you do not want to receive such email messages, you may opt out or change your preferences in your settings page. Opting out may prevent you from receiving email messages regarding updates, improvements, or offers.
						</p>
					</div> <!-- nested -->

					<div class="nested">
						<h3 class="section-header">
							1.4 Service Rules
						</h3>

						<p>
							You agree not to engage in any of the following prohibited activities: (i) copying, distributing, or disclosing any part of the Service in any medium, including without limitation by any automated or non-automated “scraping”; (ii) using any automated system, including without limitation “robots,” “spiders,” “offline readers,” etc., to access the Service in a manner that sends more request messages to the Takko servers than a human can reasonably produce in the same period of time by using a conventional on-line web browser (except that Takko grants the operators of public search engines revocable permission to use spiders to copy publicly available materials from the Service for the sole purpose of and solely to the extent necessary for creating publicly available searchable indices of the materials, but not caches or archives of such materials); (iii) transmitting spam, chain letters, or other unsolicited messages; (iv) attempting to interfere with, compromise the system integrity or security or decipher any transmissions to or from the servers running the Service; (v) taking any action that imposes, or may impose at our sole discretion an unreasonable or disproportionately large load on our infrastructure; (vi) uploading invalid data, viruses, worms, or other software agents through the Service; (vii) collecting or harvesting any personally identifiable information, including account names, from the Service; (viii) using the Service for any commercial solicitation purposes; (ix) impersonating another person or otherwise misrepresenting your affiliation with a person or entity, conducting fraud, hiding or attempting to hide your identity; (x) interfering with the proper working of the Service; (xi) accessing any content on the Service through any technology or means other than those provided or authorized by the Service; or (xii) bypassing the measures we may use to prevent or restrict access to the Service, including without limitation features that prevent or restrict use or copying of any content or enforce limitations on use of the Service or the content therein.
						</p>

						<p>
							Accessing any audiovisual content that may be available on the Service for any purpose or in any manner other than Streaming (as defined below) is expressly prohibited unless explicitly permitted by the functionality of the Service. “Streaming” means a contemporaneous digital transmission of an audiovisual work via the Internet from the Takko Service to a User’s device in such a manner that the data is intended for real-time viewing and not intended to be copied, stored, permanently downloaded, or redistributed by the User.
						</p>
					</div> <!-- nested -->

					<div class="nested">
						<h3 class="section-header">
							1.5 Changes to the Service
						</h3>

						<p>
							We may, without prior notice, change the Service; stop providing the Service or features of the Service, to you or to Users generally; or create usage limits for the Service. We may permanently or temporarily terminate or suspend your access to the Service without notice and liability for any reason, including if in our sole determination you violate any provision of this Agreement, or for no reason. Upon termination for any reason or no reason, you continue to be bound by this Agreement.
						</p>
					</div> <!-- nested -->

					<div class="nested">
						<h3 class="section-header">
							1.6 Disputes with Other Users
						</h3>

						<p>
							You are solely responsible for your interactions with other Users. We reserve the right, but have no obligation, to monitor disputes between you and other Users. Takko shall have no liability for your interactions with other Users, or for any User’s action or inaction.
						</p>
					</div> <!-- nested -->

					<div class="nested">
						<h3 class="section-header">
							1.7 Service Location
						</h3>

						<p>
							The Service is controlled and operated from facilities in the United States. Takko makes no representations that the Service is appropriate or available for use in other locations. Those who access or use the Service from other jurisdictions do so at their own volition and are entirely responsible for compliance with all applicable United States and local laws and regulations, including but not limited to export and import regulations. You may not use the Service if you are a resident of a country embargoed by the United States, or are a foreign person or entity blocked or denied by the United States government. Unless otherwise explicitly stated, all materials found on the Service are solely directed to individuals, companies, or other entities located in the United States.
						</p>
					</div> <!-- nested -->

				</div> <!-- main-content -->

			</div> <!-- col -->
		</div> <!-- row -->

		<div class="row justify-content-md-center">
			<div class="col-md-8">

				<div class="main-content">

					<h2 class="section-header">
						2. User Content
					</h2>

					<p>
						Some areas of the Service allow Users to submit, post, display, provide, or otherwise make available (“<b>Post</b>”) content such as profile information, videos, images, music, comments, questions, and other content or information (any such materials a User submits, posts, displays, provides, or otherwise makes available on the Service is referred to as “<b>User Content</b>”).
					</p>

					<p>
						<span class="uppercase">We claim no ownership rights over User Content created by you. The User Content you create remains yours.</span> However, you understand that certain portions of the Service may allow other Users to view, edit, share, and/or otherwise interact with your User Content. By providing or sharing User Content through the Service, you agree to allow others to view, edit, share, and/or interact with your User Content in accordance with your settings and this Agreement. Takko has the right (but not the obligation) in its sole discretion to remove any User Content that is shared via the Service.
					</p>

					<p>
						By submitting, posting, displaying, providing, or otherwise making available any User Content on or through the Service, you expressly grant, and you represent and warrant that you have all rights necessary to grant, to Takko a royalty-free, sublicensable, transferable, perpetual, irrevocable, non-exclusive, worldwide license to use, reproduce, modify, publish, list information regarding, edit, translate, distribute, syndicate, publicly perform, publicly display, and make derivative works of all such User Content and your name, voice, and/or likeness as contained in your User Content, in whole or in part, and in any form, media or technology, whether now known or hereafter developed, for use in connection with the Service and Takko’s (and its successors’ and affiliates’) business, including without limitation for promoting and redistributing part or all of the Service (and derivative works thereof) in any media formats and through any media channels. You also hereby grant each User of the Service a non-exclusive license to access your User Content through the Service, and to use, reproduce, distribute, display and perform such User Content as permitted through the functionality of the Service and under this Agreement.
					</p>

					<p>
						For the purposes of this Agreement, “<b>Intellectual Property Rights</b>” means all patent rights, copyright rights, mask work rights, moral rights, rights of publicity, trademark, trade dress and service mark rights, goodwill, trade secret rights and other intellectual property rights as may now exist or hereafter come into existence, and all applications therefore and registrations, renewals and extensions thereof, under the laws of any state, country, territory or other jurisdiction.
					</p>

					<div class="nested-bullet-list">
						<p>
							In connection with your User Content, you affirm, represent and warrant the following:
						</p>

						<ul class="list-wrap">
							<li class="bullet-item">
								You have the written consent of each and every identifiable natural person in the User Content, if any, to use such person’s name or likeness in the manner contemplated by the Service and this Agreement, and each such person has released you from any liability that may arise in relation to such use.
							</li> <!-- bullet-item -->

							<li class="bullet-item">
								You have obtained and are solely responsible for obtaining all consents as may be required by law to post any User Content relating to third parties.
							</li> <!-- bullet-item -->

							<li class="bullet-item">
								Your User Content and Takko’s use thereof as contemplated by this Agreement and the Service will not violate any law or infringe any rights of any third party, including but not limited to any Intellectual Property Rights and privacy rights.
							</li> <!-- bullet-item -->

							<li class="bullet-item">
								Takko may exercise the rights to your User Content granted under this Agreement without liability for payment of any guild fees, residuals, payments, fees, or royalties payable under any collective bargaining agreement or otherwise.
							</li> <!-- bullet-item -->

							<li class="bullet-item">
								To the best of your knowledge, all your User Content and other information that you provide to us is truthful and accurate.
							</li> <!-- bullet-item -->

							<li class="bullet-item">
								You agree not to, and will not, post content that: (i) may create a risk or threat of harm, loss, physical or mental injury, emotional distress, death, disability, disfigurement, or physical or mental illness to you, to any other person, or to any animal; (ii) may create a risk of any other loss or damage to any person or property; (iii) harms or exploits children by exposing them to inappropriate content, asking for personally identifiable details or otherwise; (iv) may constitute or contribute to a crime or tort; (v) contains any information or content that we deem to be unlawful, harmful, abusive, discriminatory, defamatory, infringing, invasive of personal privacy or publicity rights, harassing, humiliating to other people (publicly or otherwise), libelous, threatening, profane, obscene, graphically violent, or otherwise objectionable, including that related to the following: race, ethnicity, national origin, sex, gender, gender identity, sexual orientation, religious affiliation, disabilities, or diseases; (vi) contains any information or content that is illegal (including, without limitation, the disclosure of insider information under securities law or of another party’s trade secrets); (vii) contains any information or content that you do not have a right to make available under any law or under contractual or fiduciary relationships; (viii) contains any information or content that you know is not correct and current; (ix) violates any school or other applicable policy, including those related to cheating or ethics; (x) shows nudity in adults or children, excluding nudity in photos of paintings or sculptures; (xi) depicts terrorism, organized crime, or hate groups.
							</li> <!-- bullet-item -->

						</ul> <!-- list-wrap -->
					</div> <!-- nested-bullet-list -->

					<p>
						You agree that any User Content that you post does not and will not violate third-party rights of any kind, including without limitation any Intellectual Property Rights or rights of privacy. Takko reserves the right, but is not obligated, to reject and/or remove any User Content that Takko believes, in its sole discretion, violates any of these provisions. You understand that publishing your User Content on the Service is not a substitute for registering it with the U.S. Copyright Office, the Writer’s Guild of America, or any other rights organization.
					</p>

					<p>
						Takko takes no responsibility and assumes no liability for any User Content that you or any other User or third party posts, sends, or otherwise makes available over the Service. You shall be solely responsible for your User Content and the consequences of posting, publishing it, sharing it, or otherwise making it available on the Service, and you agree that we are only acting as a passive conduit for your online distribution and publication of your User Content. You understand and agree that you may be exposed to User Content that is inaccurate, objectionable, inappropriate for children, or otherwise unsuited to your purpose, and you agree that Takko shall not be liable for any damages you allege to incur as a result of or relating to any User Content.
					</p>

				</div> <!-- main-content -->

			</div> <!-- col -->
		</div> <!-- row -->

		<div class="row justify-content-md-center">
			<div class="col-md-8">

				<div class="main-content">

					<h2 class="section-header">
						3. Our Proprietary Rights
					</h2>

					<p>
						Except for your User Content, the Service and all materials therein or transferred thereby, including, without limitation, software, images, text, graphics, illustrations, logos, patents, trademarks, service marks, copyrights, photographs, audio, videos, music, and User Content belonging to other Users (the “<b>Takko Content</b>”), and all Intellectual Property Rights related thereto, are the exclusive property of Takko and its licensors (including other Users who post User Content to the Service). Except as explicitly provided herein, nothing in this Agreement shall be deemed to create a license in or under any such Intellectual Property Rights, and you agree not to sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit or create derivative works from any Takko Content. Use of the Takko Content for any purpose not expressly permitted by this Agreement is strictly prohibited.
					</p>

					<p>
						You may choose to or we may invite you to submit comments or ideas about the Service, including without limitation about how to improve the Service or our products (“<b>Ideas</b>”). By submitting any Idea, you agree that your disclosure is gratuitous, unsolicited and without restriction and will not place Takko under any fiduciary or other obligation, and that we are free to use the Idea without any additional compensation to you, and/or to disclose the Idea on a non-confidential basis or otherwise to anyone. You further acknowledge that, by acceptance of your submission, Takko does not waive any rights to use similar or related ideas previously known to Takko, or developed by its employees, or obtained from sources other than you.
					</p>

					<p>
						The Service contains data, information, and other content not owned by you, such as reputational or status indicators (for instance, Upvotes) (“<b>Takko Property</b>”). You understand and agree that regardless of terminology used, Takko Property represents a limited license right governed solely by the terms of this Agreement and available for distribution at Takko’s sole discretion. Takko Property is not redeemable for any sum of money or monetary value from Takko at any time. You acknowledge that you do not own the User Account you use to access the Service, nor do you possess any rights of access or rights to data stored by or on behalf of Takko on Takko servers, including without limitation any data representing or embodying any or all of your Takko Property. You agree that Takko has the absolute right to manage, regulate, control, modify and/or eliminate Takko Property as it sees fit in its sole discretion, in any general or specific case, and that Takko will have no liability to you based on its exercise of such right. All data on Takko’s servers are subject to deletion, alteration or transfer. <span class="uppercase">Notwithstanding any value attributed to such data by you or any third party, you understand and agree that any data, User Account history and User Account content residing on Takko’s servers, may be deleted, altered, moved or transferred at any time for any reason in Takko’s sole discretion, with or without notice and with no liability of any kind. Takko does not provide or guarantee, and expressly disclaims, any value, cash or otherwise, attributed to any data residing on Takko’s servers.</span>
					</p>

				</div> <!-- main-content -->

			</div> <!-- col -->
		</div> <!-- row -->

		<div class="row justify-content-md-center">
			<div class="col-md-8">

				<div class="main-content">

					<h2 class="section-header">
						4. Payments to Creators
					</h2>

					<div class="nested">
						<h3 class="section-header">
							4.1 Payments
						</h3>

						<p>
							To the extent you Post User Content on the Service and elect to receive payments from Takko based on the payment terms available on your settings page, as we may update them from time to time in our sole discretion, you hereby appoint Takko as your payment collection agent solely for the limited purpose of accepting funds on your behalf in connection with the User Content you provide on the Service. Payment from an advertiser on the Service to Takko shall be considered the same as payment made directly to you by the applicable advertiser. Upon an advertiser’s payment of funds to Takko, such advertiser’s payment obligation to you for the agreed upon amount is terminated, and Takko is instead responsible for remitting the funds to you in the manner described in this Agreement. Your recourse is only against Takko if Takko fails to remit funds received from an advertiser pursuant to the terms hereof. 
						</p>

						<p>
							Unless otherwise agreed by the parties in writing, Takko shall remit payments due to you hereunder via Stripe Connect no later than thirty (30) days after the end of each calendar month in which the applicable fees are received by Takko. By using our Service, you agree to be bound by Stripe’s Services Agreement available at <a href="https://stripe.com/connect-account/legal" target="_blank">https://stripe.com/connect-account/legal</a>. All information that you provide in connection with a monetary transaction interaction with us and Stripe Connect must be accurate, complete, and current. Payment shall be in the form you select when you register for the Service, or as subsequently updated as permitted by the Service. Takko reserves the right to withhold payment or charge back to your User Account any amounts otherwise due to us under this Agreement, or amounts due to any breach of this Agreement by you, pending Takko’s reasonable investigation of such breach. Takko also reserves the right to withhold payment or charge back to your User Account any amounts subject to dispute, such as in the case of credit card charge backs, pending successful resolution of the dispute. To ensure proper payment, you are solely responsible for providing and maintaining accurate contact and payment information associated with your User Account, which includes without limitation applicable tax information. If we believe that we are obligated to obtain tax information and you do not provide this information to us after we have requested it, we may withhold your payments until you provide this information or otherwise satisfy us that you are not a person or entity from whom we are required to obtain tax information. Any third-party fees related to returned or cancelled payments due to a contact or payment information error or omission may be deducted from the newly issued payment. You agree to pay all applicable taxes or charges imposed by any government entity in connection with your participation in the Service. If you dispute any payment made hereunder, you must notify Takko in writing within thirty (30) days of such payment or from when you purport such payment would have been due, whichever is earlier. Failure to so notify Takko shall result in the waiver by you of any claim relating to such disputed payment. Payment shall be calculated solely based on records maintained by Takko. No other measurements or statistics of any kind shall be accepted by Takko or have any effect under this Agreement and you shall have no audit rights hereunder. We may withhold any taxes or other amounts from payments due to you as required by law.
						</p>
					</div> <!-- nested -->

					<div class="nested">
						<h3 class="section-header">
							4.2 California Residents
						</h3>

						<p>
							The provider of services is set forth herein. If you are a California resident, in accordance with Cal. Civ. Code §1789.3, you may report complaints to the Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs by contacting them in writing at 1625 North Market Blvd., Suite N 112 Sacramento, CA 95834, or by telephone at (800) 952-5210 or (916) 445-1254.
						</p>
					</div> <!-- nested -->

				</div> <!-- main-content -->

			</div> <!-- col -->
		</div> <!-- row -->

		<div class="row justify-content-md-center">
			<div class="col-md-8">

				<div class="main-content">

					<h2 class="section-header">
						5. Privacy
					</h2>

					<p>
						We care about the privacy of our Users. You understand that by using the Service you consent to the collection, use and disclosure of your personally identifiable information and aggregate and/or anonymized data as set forth in our Privacy Policy <a href="<%= root_url+"privacy" %>" target="_blank"><%= root_url+"privacy" %></a>, and to have your personally identifiable information collected, used, transferred to and processed in the United States.
					</p>

				</div> <!-- main-content -->

			</div> <!-- col -->
		</div> <!-- row -->

		<div class="row justify-content-md-center">
			<div class="col-md-8">

				<div class="main-content">

					<h2 class="section-header">
						6. Security
					</h2>

					<p>
						Takko uses commercially reasonable physical, managerial, and technical safeguards to preserve the integrity and security of your personal information and implement your privacy settings. However, we cannot guarantee that unauthorized third parties will never be able to defeat our security measures or use your personal information for improper purposes. You acknowledge that you provide your personal information at your own risk.
					</p>

				</div> <!-- main-content -->

			</div> <!-- col -->
		</div> <!-- row -->

		<div class="row justify-content-md-center">
			<div class="col-md-8">

				<div class="main-content">

					<h2 class="section-header">
						7. DMCA Notice
					</h2>

					<p>
						Since we respect artist and content owner rights, it is Takko’s policy to respond to alleged infringement notices that comply with the Digital Millennium Copyright Act of 1998 (“<b>DMCA</b>”).
					</p>

					<div class="nested-numbered-list">
						<p>
							If you believe that your copyrighted work has been copied in a way that constitutes copyright infringement and is accessible via the Service, please notify Takko’s copyright agent as set forth in the DMCA. For your complaint to be valid under the DMCA, you must provide the following information in writing:
						</p>

						<ol class="list-wrap">
							<li class="numbered-item">
								An electronic or physical signature of a person authorized to act on behalf of the copyright owner;
							</li> <!-- numbered-item -->

							<li class="numbered-item">
								Identification of the copyrighted work that you claim has been infringed;
							</li> <!-- numbered-item -->

							<li class="numbered-item">
								Identification of the material that is claimed to be infringing and where it is located on the Service;
							</li> <!-- numbered-item -->

							<li class="numbered-item">
								Information reasonably sufficient to permit Takko to contact you, such as your address, telephone number, and, e-mail address;
							</li> <!-- numbered-item -->

							<li class="numbered-item">
								A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or law; and
							</li> <!-- numbered-item -->

							<li class="numbered-item">
								A statement, made under penalty of perjury, that the above information is accurate, and that you are the copyright owner or are authorized to act on behalf of the owner.
							</li> <!-- numbered-item -->
						</ol> <!-- list-wrap -->
					</div> <!-- nested-numbered-list -->

					<div class="nested">
						<p>
							The above information must be submitted to the following DMCA Agent:
						</p>

						<div class="row w-100">
							<div class="col-md-2 nested-left-column">
								Attn:
							</div> <!-- col -->
							<div class="col-md-10">
								<p>
									DMCA Notice <br />
									Content Creators, Inc. d/b/a Takko, Inc.
								</p>
							</div> <!-- col -->
						</div> <!-- row -->

						<div class="row w-100">
							<div class="col-md-2 nested-left-column">
								Address:
							</div> <!-- col -->
							<div class="col-md-10">
								<p>
									1321 Upland Dr. Suite 17106 <br />
									Houston, TX 77043
								</p>
							</div> <!-- col -->
						</div> <!-- row -->

						<div class="row w-100">
							<div class="col-md-2 nested-left-column">
								Tel:
							</div> <!-- col -->
							<div class="col-md-10">
								<p>
									(818) 293-8799
								</p>
							</div> <!-- col -->
						</div> <!-- row -->

						<div class="row w-100">
							<div class="col-md-2 nested-left-column">
								Email:
							</div> <!-- col -->
							<div class="col-md-10">
								<p>
									<a href="mailto: copyright@takkoapp.com">copyright@takkoapp.com</a>
								</p>
							</div> <!-- col -->
						</div> <!-- row -->
					</div> <!-- nested -->

					<p>
						<span class="uppercase">Please note that information provided in this legal notice may be forwarded to the person who provided the allegedly infringing content. Under federal law, if you knowingly misrepresent that online material is infringing, you may be subject to criminal prosecution for perjury and civil penalties, including monetary damages, court costs, and attorneys’ fees. Takko takes no responsibility and assumes no liability for any content that you or any other user or third party broadcasts or sends over the Service. You shall be solely responsible for your content and the consequences of posting or publishing it, and you agree that we are only acting as a conduit for your online broadcast and publication of your content. </span>
					</p>

					<p>
						Please note that this procedure is exclusively for notifying Takko and its affiliates that your copyrighted material has been infringed. The preceding requirements are intended to comply with Takko’s rights and obligations under the DMCA, including 17 U.S.C. §512(c), but do not constitute legal advice. It may be advisable to contact an attorney regarding your rights and obligations under the DMCA and other applicable laws.
					</p>

					<p>
						In accordance with the DMCA and other applicable law, Takko has adopted a policy of terminating, in appropriate circumstances, Users who are deemed to be repeat infringers. Takko may also at its sole discretion limit access to the Service and/or terminate the User Accounts of any Users who infringe any intellectual property rights of others, whether or not there is any repeat infringement.
					</p>

				</div> <!-- main-content -->

			</div> <!-- col -->
		</div> <!-- row -->

		<div class="row justify-content-md-center">
			<div class="col-md-8">

				<div class="main-content">

					<h2 class="section-header">
						8. Third-Party Links and Information
					</h2>

					<p>
						The Service may contain links to third-party materials that are not owned or controlled by Takko. Takko does not endorse or assume any responsibility for any such third-party sites, information, materials, products, or services. If you access a third-party website or service from the Service or share your User Content on or through any third-party website or service, you do so at your own risk, and you understand that this Agreement and Takko’s Privacy Policy do not apply to your use of such sites. You expressly relieve Takko from any and all liability arising from your use of any third-party website, service, or content, including without limitation User Content submitted by other Users. Additionally, your dealings with or participation in promotions of advertisers found on the Service, including payment and delivery of goods, and any other terms (such as warranties) are solely between you and such advertisers. You agree that Takko shall not be responsible for any loss or damage of any sort relating to your dealings with such advertisers.
					</p>

				</div> <!-- main-content -->

			</div> <!-- col -->
		</div> <!-- row -->

		<div class="row justify-content-md-center">
			<div class="col-md-8">

				<div class="main-content">

					<h2 class="section-header">
						9. Indemnity
					</h2>

					<p>
						You agree to defend, indemnify and hold harmless Takko and its subsidiaries, agents, licensors, managers, and other affiliated companies, and their employees, contractors, agents, officers and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney’s fees) arising from: (i) your use of and access to the Service, including any data or content transmitted or received by you; (ii) your violation of any term of this Agreement, including without limitation your breach of any of the representations and warranties above; (iii) your violation of any third-party right, including without limitation any right of privacy or Intellectual Property Rights; (iv) your violation of any applicable law, rule or regulation; (v) User Content or any content that is submitted via your User Account including without limitation misleading, false, or inaccurate information; (vi) your willful misconduct; or (vii) any other party’s access and use of the Service with your unique username, password or other appropriate security code.
					</p>

				</div> <!-- main-content -->

			</div> <!-- col -->
		</div> <!-- row -->

		<div class="row justify-content-md-center">
			<div class="col-md-8">

				<div class="main-content">

					<h2 class="section-header">
						10. No Warranty
					</h2>

					<p>
						<span class="uppercase">
							The Service is provided on an “as is” and “as available” basis. Use of the Service is at your own risk. To the maximum extent permitted by applicable law, the Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, or non-infringement. No advice or information, whether oral or written, obtained by you from Takko or through the Service will create any warranty not expressly stated herein. Without limiting the foregoing, Takko, its subsidiaries, its affiliates, and its licensors do not warrant that the content is accurate, reliable or correct; that the Service will meet your requirements; that the Service will be available at any particular time or location, uninterrupted or secure; that any defects or errors will be corrected; or that the Service is free of viruses or other harmful components. Any content downloaded or otherwise obtained through the use of the Service is downloaded at your own risk and you will be solely responsible for any damage to your computer system or mobile device or loss of data that results from such download or your use of the Service.
						</span>
					</p>

					<p>
						<span class="uppercase">
							Further, Takko does not warrant, endorse, guarantee, or assume responsibility for any product or service advertised or offered by a third party through the Service or any hyperlinked website or service, and Takko will not be a party to or in any way monitor any transaction between you and third-party providers of products or services.
						</span>
					</p>

					<p>
						<span class="uppercase">
							Federal law, some states, provinces and other jurisdictions do not allow the exclusion and limitations of certain implied warranties, so the above exclusions may not apply to you. This Agreement gives you specific legal rights, and you may also have other rights which vary from state to state. The disclaimers and exclusions under this Agreement will not apply to the extent prohibited by applicable law.
						</span>
					</p>

				</div> <!-- main-content -->

			</div> <!-- col -->
		</div> <!-- row -->

		<div class="row justify-content-md-center">
			<div class="col-md-8">

				<div class="main-content">

					<h2 class="section-header">
						11. Limitation of Liability
					</h2>

					<p>
						<span class="uppercase">
							To the maximum extent permitted by applicable law, in no event shall Takko, its affiliates, agents, directors, employees, suppliers or licensors be liable for any indirect, punitive, incidental, special, consequential or exemplary damages, including without limitation damages for loss of profits, goodwill, use, data or other intangible losses, arising out of or relating to the use of, or inability to use, the Service. Under no circumstances will Takko be responsible for any damage, loss or injury resulting from hacking, tampering or other unauthorized access or use of the Service or your account or the information contained therein.
						</span>
					</p>

					<p>
						<span class="uppercase">
							To the maximum extent permitted by applicable law, Takko assumes no liability or responsibility for any (i) errors, mistakes, or inaccuracies of content; (ii) personal injury or property damage, of any nature whatsoever, resulting from your access to or use of our service; (iii) any unauthorized access to or use of our secure servers and/or any and all personal information stored therein; (iv) any interruption or cessation of transmission to or from the Service; (v) any bugs, viruses, trojan horses, or the like that may be transmitted to or through our service by any third party; (vi) any errors or omissions in any content or for any loss or damage incurred as a result of the use of any content posted, emailed, transmitted, or otherwise made available through the Service; and/or (vii) User Content or the defamatory, offensive, or illegal conduct of any third party. In no event shall Takko, its affiliates, agents, directors, employees, suppliers, or licensors be liable to you for any claims, proceedings, liabilities, obligations, damages, losses or costs in an amount exceeding the amount you paid to Takko hereunder or $100.00, whichever is greater.
						</span>
					</p>

					<p>
						<span class="uppercase">
							This limitation of liability section applies whether the alleged liability is based on contract, tort, negligence, strict liability, or any other basis, even if Takko has been advised of the possibility of such damage.
						</span>
					</p>

					<p>
						<span class="uppercase">
							Some states do not allow the exclusion or limitation of incidental or consequential damages, so the above limitations or exclusions may not apply to you. This Agreement gives you specific legal rights, and you may also have other rights which vary from state to state. The disclaimers, exclusions, and limitations of liability under this Agreement will not apply to the extent prohibited by applicable law.
						</span>
					</p>

				</div> <!-- main-content -->

			</div> <!-- col -->
		</div> <!-- row -->

		<div class="row justify-content-md-center">
			<div class="col-md-8">

				<div class="main-content">

					<h2 class="section-header">
						12. Governing Law, Arbitration, and Class Action/Jury Trial Waiver
					</h2>

					<div class="nested">
						<h3 class="section-header">
							12.1 Governing Law
						</h3>

						<p>
							You agree that: (i) the Service shall be deemed solely based in California; and (ii) the Service shall be deemed a passive one that does not give rise to personal jurisdiction over us, either specific or general, in jurisdictions other than California. This Agreement shall be governed by the internal substantive laws of the State of California, without respect to its conflict of laws principles. The parties acknowledge that this Agreement evidences a transaction involving interstate commerce. Notwithstanding the preceding sentences with respect to the substantive law, any arbitration conducted pursuant to the terms of this Agreement shall be governed by the Federal Arbitration Act (9 U.S.C. §§ 1-16). The application of the United Nations Convention on Contracts for the International Sale of Goods is expressly excluded. You agree to submit to the personal jurisdiction of the federal and state courts located in Los Angeles County, California for any actions for which we retain the right to seek injunctive or other equitable relief in a court of competent jurisdiction to prevent the actual or threatened infringement, misappropriation or violation of a our copyrights, trademarks, trade secrets, patents, or other intellectual property or proprietary rights, as set forth in the Arbitration provision below, including any provisional relief required to prevent irreparable harm. You agree that Los Angeles County, California is the proper forum for any appeals of an arbitration award or for trial court proceedings in the event that the arbitration provision below is found to be unenforceable.
						</p>
					</div> <!-- nested -->

					<div class="nested">
						<h3 class="section-header">
							12.2 Arbitration
						</h3>

						<p>
							<span class="uppercase">Read this section carefully because it requires the parties to arbitrate their disputes and limits the manner in which you can seek relief from Takko.</span> For any dispute with Takko, you agree to first contact us at <a href="mailto: support@takkoapp.com">support@takkoapp.com</a> and attempt to resolve the dispute with us informally. In the unlikely event that Takko has not been able to resolve a dispute it has with you after sixty (60) days, we each agree to resolve any claim, dispute, or controversy (excluding any claims for injunctive or other equitable relief as provided below) arising out of or in connection with or relating to this Agreement, or the breach or alleged breach thereof (collectively, “<b>Claims</b>”), by binding arbitration by JAMS, under the Optional Expedited Arbitration Procedures then in effect for JAMS, except as provided herein. JAMS may be contacted at www.jamsadr.com. The arbitration will be conducted in Los Angeles County, California, unless you and Takko agree otherwise. If you are using the Service for commercial purposes, each party will be responsible for paying any JAMS filing, administrative and arbitrator fees in accordance with JAMS rules, and the award rendered by the arbitrator shall include costs of arbitration, reasonable attorneys’ fees and reasonable costs for expert and other witnesses. If you are an individual using the Service for non-commercial purposes: (i) JAMS may require you to pay a fee for the initiation of your case, unless you apply for and successfully obtain a fee waiver from JAMS; (ii) the award rendered by the arbitrator may include your costs of arbitration, your reasonable attorney’s fees, and your reasonable costs for expert and other witnesses; and (iii) you may sue in a small claims court of competent jurisdiction without first engaging in arbitration, but this does not absolve you of your commitment to engage in the informal dispute resolution process. Any judgment on the award rendered by the arbitrator may be entered in any court of competent jurisdiction. Nothing in this Section shall be deemed as preventing Takko from seeking injunctive or other equitable relief from the courts as necessary to prevent the actual or threatened infringement, misappropriation, or violation of our data security, Intellectual Property Rights or other proprietary rights.
						</p>
					</div> <!-- nested -->

					<div class="nested">
						<h3 class="section-header">
							12.3 Class Action/Jury Trial Waiver
						</h3>

						<p>
							<span class="uppercase">
								With respect to all persons and entities, regardless of whether they have obtained or used the Service for personal, commercial or other purposes, all Claims must be brought in the parties’ individual capacity, and not as a plaintiff or class member in any purported class action, collective action, private attorney general action or other representative proceeding. This waiver applies to class arbitration, and, unless we agree otherwise, the arbitrator may not consolidate more than one person’s Claims. You agree that, by entering into this Agreement, you and Takko are each waiving the right to a trial by jury or to participate in a class action, collective action, private attorney general action, or other representative proceeding of any kind. 
							</span>
						</p>
					</div> <!-- nested -->

				</div> <!-- main-content -->

			</div> <!-- col -->
		</div> <!-- row -->


		<div class="row justify-content-md-center">
			<div class="col-md-8">

				<div class="main-content">

					<h2 class="section-header">
						13. Additional Terms for Mobile Applications
					</h2>

					<div class="nested">
						<h3 class="section-header">
							13.1 Mobile Applications
						</h3>

						<p>
							We may make available software to access the Service via a mobile device (“<b>Mobile Applications</b>”). To use any Mobile Applications you must have a mobile device that is compatible with the Mobile Applications. Takko does not warrant that the Mobile Applications will be compatible with your mobile device. You may use mobile data in connection with the Mobile Applications and may incur additional charges from your wireless provider for these services. You agree that you are solely responsible for any such charges. Takko hereby grants you a non-exclusive, non-transferable, revocable license to use a compiled code copy of the Mobile Applications for one Takko User Account on one mobile device owned or leased solely by you, for your personal use. You may not: (i) modify, disassemble, decompile or reverse engineer the Mobile Applications, except to the extent that such restriction is expressly prohibited by law; (ii) rent, lease, loan, resell, sublicense, distribute or otherwise transfer the Mobile Applications to any third party or use the Mobile Applications to provide time sharing or similar services for any third party; (iii) make any copies of the Mobile Applications; (iv) remove, circumvent, disable, damage or otherwise interfere with security-related features of the Mobile Applications, features that prevent or restrict use or copying of any content accessible through the Mobile Applications, or features that enforce limitations on use of the Mobile Applications; or (v) delete the copyright and other proprietary rights notices on the Mobile Applications. You acknowledge that Takko may from time to time issue upgraded versions of the Mobile Applications, and may automatically electronically upgrade the version of the Mobile Applications that you are using on your mobile device. You consent to such automatic upgrading on your mobile device, and agree that the terms and conditions of this Agreement will apply to all such upgrades. Any third-party code that may be incorporated in the Mobile Applications is covered by the applicable open source or third-party license EULA, if any, authorizing use of such code. The foregoing license grant is not a sale of the Mobile Applications or any copy thereof, and Takko or its third-party partners or suppliers retain all right, title, and interest in the Mobile Applications (and any copy thereof). Any attempt by you to transfer any of the rights, duties or obligations hereunder, except as expressly provided for in this Agreement, is void. Takko reserves all rights not expressly granted under this Agreement. If the Mobile Applications is being acquired on behalf of the United States Government, then the following provision applies. The Mobile Applications will be deemed to be “commercial computer software” and “commercial computer software documentation,” respectively, pursuant to DFAR Section 227.7202 and FAR Section 12.212, as applicable. Any use, reproduction, release, performance, display or disclosure of the Service and any accompanying documentation by the U.S. Government will be governed solely by these Terms of Service and is prohibited except to the extent expressly permitted by these Terms of Service. The Mobile Applications originates in the United States, and is subject to United States export laws and regulations. The Mobile Applications may not be exported or re-exported to certain countries or those persons or entities prohibited from receiving exports from the United States. In addition, the Mobile Applications may be subject to the import and export laws of other countries. You agree to comply with all United States and foreign laws related to use of the Mobile Applications and the Service.
						</p>
					</div> <!-- nested -->

					<div class="nested">
						<h3 class="section-header">
							13.2 Mobile Applications from Apple App Store
						</h3>

						<p>
							The following applies to any Mobile Applications you acquire from the Apple App Store (“<b>Apple-Sourced Software</b>”): You acknowledge and agree that this Agreement is solely between you and Takko, not Apple, Inc. (“<b>Apple</b>”) and that Apple has no responsibility for the Apple-Sourced Software or content thereof. Your use of the Apple-Sourced Software must comply with the App Store Terms of Service. You acknowledge that Apple has no obligation whatsoever to furnish any maintenance and support services with respect to the Apple-Sourced Software. In the event of any failure of the Apple-Sourced Software to conform to any applicable warranty, you may notify Apple, and Apple will refund the purchase price for the Apple-Sourced Software to you; to the maximum extent permitted by applicable law, Apple will have no other warranty obligation whatsoever with respect to the Apple-Sourced Software, and any other claims, losses, liabilities, damages, costs or expenses attributable to any failure to conform to any warranty will be solely governed by this Agreement and any law applicable to Takko as provider of the software. You acknowledge that Apple is not responsible for addressing any claims of you or any third party relating to the Apple-Sourced Software or your possession and/or use of the Apple-Sourced Software, including, but not limited to: (i) product liability claims; (ii) any claim that the Apple-Sourced Software fails to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer protection or similar legislation; and all such claims are governed solely by this Agreement and any law applicable to Takko as provider of the software. You acknowledge that, in the event of any third-party claim that the Apple-Sourced Software or your possession and use of that Apple-Sourced Software infringes that third party’s intellectual property rights, Takko, not Apple, will be solely responsible for the investigation, defense, settlement and discharge of any such intellectual property infringement claim to the extent required by this Agreement. You and Takko acknowledge and agree that Apple, and Apple’s subsidiaries, are third-party beneficiaries of this Agreement as relates to your license of the Apple-Sourced Software, and that, upon your acceptance of the terms and conditions of this Agreement, Apple will have the right (and will be deemed to have accepted the right) to enforce this Agreement as relates to your license of the Apple-Sourced Software against you as a third-party beneficiary thereof.
						</p>
					</div> <!-- nested -->

					<div class="nested">
						<h3 class="section-header">
							13.3 Mobile Applications from Google Play Store
						</h3>

						<p>
							The following applies to any Mobile Applications you acquire from the Google Play Store (“<b>Google-Sourced Software</b>”): (i) you acknowledge that the Agreement is between you and Takko only, and not with Google, Inc. (“<b>Google</b>”); (ii) your use of Google-Sourced Software must comply with Google’s then-current Google Play Store Terms of Service; (iii) Google is only a provider of the Google Play Store where you obtained the Google-Sourced Software; (iv) Takko, and not Google, is solely responsible for its Google-Sourced Software; (v) Google has no obligation or liability to you with respect to Google-Sourced Software or the Agreement; and (vi) you acknowledge and agree that Google is a third-party beneficiary to the Agreement as it relates to Takko’s Google-Sourced Software.
						</p>
					</div> <!-- nested -->

				</div> <!-- main-content -->

			</div> <!-- col -->
		</div> <!-- row -->

		<div class="row justify-content-md-center">
			<div class="col-md-8">

				<div class="main-content">

					<h2 class="section-header">
						14. General
					</h2>

					<div class="nested">
						<h3 class="section-header">
							14.1 Assignment
						</h3>

						<p>
							This Agreement, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by Takko without restriction. Any attempted transfer or assignment in violation hereof shall be null and void.
						</p>
					</div> <!-- nested -->

					<div class="nested">
						<h3 class="section-header">
							14.2 Notification Procedures and Changes to the Agreement
						</h3>

						<p>
							Takko may provide notifications, whether such notifications are required by law or are for marketing or other business related purposes, to you via email notice, written or hard copy notice, using an automatic telephone dialing system to call or text your mobile / cellular telephone (even if those phone numbers are registered by you on any federal or state Do-Not-Call/Do-Not-email registry), or through posting of such notice on our website, as determined by Takko in our sole discretion. Takko reserves the right to determine the form and means of providing notifications to our Users, provided that you may opt out of certain means of notification as described in this Agreement. Without limiting the generality of the foregoing, if you sign up for our Service, we may send you one SMS / text message request for verification purposes only. Standard data and message rates may apply. Takko is not responsible for any automatic filtering you or your network provider may apply to email notifications we send to the email address you provide us. Takko may, in its sole discretion, modify or update this Agreement from time to time, and so you should review this page periodically. When we change the Agreement in a material manner, we will update the ‘last modified’ date at the top of this page and notify you that material changes have been made to the Agreement. Your continued use of the Service after any such change constitutes your acceptance of the new Terms of Service. If you do not agree to any of these terms or any future Terms of Service, do not use or access (or continue to access) the Service.
						</p>
					</div> <!-- nested -->

					<div class="nested">
						<h3 class="section-header">
							14.3 Entire Agreement/Severability
						</h3>

						<p>
							This Agreement, together with any amendments and any additional agreements you may enter into with Takko in connection with the Service, shall constitute the entire agreement between you and Takko concerning the Service. If any provision of this Agreement is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of this Agreement, which shall remain in full force and effect, except that in the event of unenforceability of the universal Class Action/Jury Trial Waiver, the entire arbitration agreement shall be unenforceable.
						</p>
					</div> <!-- nested -->

					<div class="nested">
						<h3 class="section-header">
							14.4 No Waiver
						</h3>

						<p>
							No waiver of any term of this Agreement shall be deemed a further or continuing waiver of such term or any other term, and Takko’s failure to assert any right or provision under this Agreement shall not constitute a waiver of such right or provision.
						</p>
					</div> <!-- nested -->

					<div class="nested">
						<h3 class="section-header">
							14.5 Contact
						</h3>

						<p>
							Please contact us at <a href="mailto: support@takkoapp.com">support@takkoapp.com</a> with any questions regarding this Agreement.
						</p>
					</div> <!-- nested -->

				</div> <!-- main-content -->

			</div> <!-- col -->
		</div> <!-- row -->

		<div class="footer"></div>

	</div> <!-- container -->

