<%= form_with(model: invitation, local: true) do |form| %>
  <% if invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
      <% invitation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :claimed_date %>
    <%= form.text_field :claimed_date %>
  </div>

  <div class="field">
    <%= form.label :ip_address %>
    <%= form.text_field :ip_address %>
  </div>

  <div class="field">
    <%= form.label :user_agent %>
    <%= form.text_field :user_agent %>
  </div>

  <div class="field">
    <%= form.label :invite_code %>
    <%= form.text_field :invite_code %>
  </div>

  <div class="field">
    <%= form.label :claimed %>
    <%= form.check_box :claimed %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status %>
  </div>

  <div class="field">
    <%= form.label :attempts %>
    <%= form.number_field :attempts %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :subscriber_id %>
    <%= form.text_field :subscriber_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
