
<div style="overflow:scroll;padding:25px;">

  <p id="notice"><%= notice %></p>

  <h1><%= pluralize(@subscribers.size, 'Subscriber') %></h1>

  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th>created_at</th>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Age</th>
        <th>Device</th>
        <th>Link</th>
        <th>Invite</th>
        <th>Queue</th>
        <th>Position</th>
        <th>Position Growth</th>
        <th>IP Address</th>
        <th>Newsletter</th>
        <th>Status</th>
        <th>Unsubscribe Status</th>
        <!-- <th>Unsubscribe Hash</th> -->
        <th>Unsubscribe Date</th>
        <th>Unsubscribe IP Address</th>
        <th>Email Status</th>
        <th>Email Date</th>
        <th>Subscribers</th>
        <th>Referred By</th>
        <!-- <th colspan="3"></th> -->
      </tr>
    </thead>

    <tbody>
      <% @subscribers.each do |subscriber| %>
        <tr>
          <td><%= subscriber.created_at %></td>
          <td><%= subscriber._id %></td>
          <td><%= subscriber.firstName %></td>
          <td><%= subscriber.lastName %></td>
          <td><%= subscriber.email %></td>
          <td><%= subscriber.phone %></td>
          <td><%= subscriber.age %></td>
          <td><%= subscriber.mobile_device %></td>
          <td><%= subscriber.link %></td>
          <td><%= subscriber.invite %></td>
          <td><%= subscriber.queue %></td>
          <td><%= subscriber.position %></td>
          <td><%= subscriber.position_growth %></td>
          <td><%= subscriber.ip_address %></td>
          <td><%= subscriber.newsletter %></td>
          <td><%= subscriber.status %></td>
          <td><%= subscriber.unsubscribe_status %></td>
          <!-- <td><%#= subscriber.unsubscribe_hash %></td> -->
          <td><%= subscriber.unsubscribe_date %></td>
          <td><%= subscriber.unsubscribe_ip_address %></td>
          <td><%= subscriber.email_delivery_status %></td>
          <td><%= subscriber.email_delivery_date %></td>
          <td><%= subscriber.subscribers.size %></td>
          <td><%= subscriber.parent_id %></td>
          <!-- <td><%#= link_to 'Show', subscriber %></td> -->
          <!-- <td><%#= link_to 'Edit', edit_subscriber_path(subscriber) %></td> -->
          <!-- <td><%#= link_to 'Destroy', subscriber, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%#= link_to 'New Subscriber', new_subscriber_path %>

</div>
