<%= javascript_pack_tag 'welcome_index' %>

<div class="container-fluid welcome_index" id="step_2">
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('aft_apple.png', alt: 'aft_apple', class: 'aft_apple') %>
    </div>
  </div>

  <div class='row'>
    <div class='col header_text'>
      App for <span class='header_text_red'>Teachers</span>
    </div>
  </div>

  <div class="row">
    <div class="col content_text">
      Let’s mobilize and stand together.
    </div>
  </div>

  <%= form_tag(subscriber_path(id: @subscriber.id), method: :patch, id: :step_2_form) do %>
    <%= text_field_tag('subscriber[phone]', '', placeholder: 'Phone (optional)', class: 'txt_phone', type: :text, autocomplete: 'off') %>
    <%= text_field_tag('subscriber[age]', '', placeholder: 'How old are you?', class: 'txt_age', type: :number, autocomplete: 'off', required: true) %>
    <%= select_tag('subscriber[mobile_device]', options_for_select(['Android', 'iPhone'])) %>
    <%= image_tag('aft_next_btn.png', alt: 'next_btn', class: 'next_btn_2') %>
  <% end %>
</div>

<%= render partial: 'footer' %>
