<p id="notice"><%= notice %></p>

<p>
  <strong>Identity:</strong>
  <%= @username.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @username.type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @username.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @username.user_id %>
</p>

<%= link_to 'Edit', edit_username_path(@username) %> |
<%= link_to 'Back', usernames_path %>
